<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Mandrill Tech Sdn. Bhd.</div>
                                        <div class="h6 mt-0 title">Software Developer (Feb 2022 - Present)</div>
                                        <p align="justify">-Develop Java application adapter using Springboot framework for payment company in Australia.</p>
                                        <p align="justify">-Study and develop field mappings for different institution systems using Mapstuct Library according to institution specification.</p>
                                        <p align="justify">-Develop logic and flow stucture for the message from request to respond and vice versa.</p>
                                        <p align="justify">-Develop error handling mechanism for unhappy path of logic flow.</p>
                                        <p align="justify">-Develop Unit testing, Integration testing and smoke testing using Junit and RestAssured Library.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Testing Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">SpringBoot</li>
                                                        <li class="non_list">JUnit</li>
                                                        <li class="non_list">RestAssured</li>
                                                        <li class="non_list">Mapstruct</li>
                                                        <li class="non_list">SonarCloud</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Spring</li>
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Skymind CNS Sdn. Bhd.</div>
                                        <div class="h6 mt-0 title">Artificial Intelligence Engineer (Jan 2021 - Dec 2021)</div>
                                        <p align="justify">-Backend Java Software Developer for web server application using Spring boot backend framework together with Angular frontend
                                          framework to deploy AI models created using various ML/DL frameworks including SQL queries , database and unit testing of
                                          functionalities.</p>
                                        <p align="justify">-Create backend rtsp stream input using opencv library before feeding into AI model for inference process.</p>
                                        <p align="justify">-Structural design of the robotic mechanism and automation processes..</p>
                                        <p align="justify">-Software integration for Home Automation for IOT between OpenHAB and Thingsboard using rest API</p>
                                        <p align="justify">-Research and develop existing computer vision algorithms and incorporate novel techniques or create new algorithms from the ground
                                          up to solve desired use cases.</p>
                                        <p align="justify">-Deploy deep learning models into production.</p>
                                        <p align="justify">-Perform feature and functional testing.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Backend Development</li>
                                                <li class="non_list">Automation</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">SpringBoot</li>
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Postgresql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Selenium</li>
                                                        <li class="non_list">Javascript</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
