<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor Of Engineering (Electronics) In Computer And Information</div>
                                <h4 class="category">International Islamic University Malaysia (IIUM)</h4>
                                <ul>
                                    <li> <b>First Class</b> with CGPA 3.74 </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2016</p>
                        <div class="h5">Foundation</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Foundation in Engineering and Computer Sciences</div>
                            <h4 class="category">Centre For Foundation Studies IIUM</h4>
                            <ul>
                                    <li>Completed  <b>Doundation</b> with CGPA 3.75</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
